# macOS
.DS_Store

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/
.expo-shared/

# React Native specific files
android/
ios/
*.log
*.jks
*.keystore

# Build files
build/
dist/
.expo/*
/web-build/

# IDE/Editor specific
.vscode/
.idea/
*.sublime-workspace
*.swp
*.iml

# Temporary files
*.temp
*.tmp

# Logs
*.log

# Package manager files
.pnpm-debug.log*
package-lock.json
yarn.lock

# Babel
.cache/
babel.config.js

# Metro bundler
.expo/
.expo-shared/
.bundle/

# Android specific
*.gradle
*.apk
*.aar
build/
local.properties

# iOS specific
Podfile.lock
Pods/
xcuserdata/
*.xcworkspace
*.xcuserstate

# Testing
__tests__/
coverage/

# Env files
.env
.env.local
.env.production
.env.development
.env.staging
